.gallery-div {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.image-container {
  width: 50%;
  width: fit-content;
}
.images-container-card {
  background-color: rgb(194, 209, 204);
}
