.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.image-div {
  margin-bottom: 0.5rem;
  box-shadow: 10px 10px 10px;
  border-radius: 15px;
  background-color: rgb(233, 230, 230);
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

.image-container {
  height: 10rem;
  width: 10rem;
  border-radius: 15px;
  flex-direction: row;
  align-items: center;
}

.image-div-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-div-text {
  text-align: center;
  font-size: 50%;
  overflow: hidden;
  padding: 5px;
  flex: 1;
}

// Adjust layout for smaller screens
@media screen and (max-width: 600px) {
  .images-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }

  .image-div {
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 1rem;
  }
}

// Add additional media queries for other screen widths if needed
